@model WebBanHang.EF.product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Backend/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>product</h4>
    <hr />

    <div class="form-group">
        <label for="product_code">Mã sản phẩm</label>
        <input type="text" id="product_code" name="product_code" class="form-control" value="@ViewBag.Product.product_code" />
    </div>


    <div class="form-group">
        <label for="product_name">Tên sản phẩm</label>
        <input type="text" id="product_name" name="product_name" class="form-control" value="@ViewBag.Product.product_name" />
    </div>

    <div class="form-group">
        <label for="description">Mô tả</label>
        <input type="text" id="description" name="description" class="form-control" value="@ViewBag.Product.description" />
    </div>

    <div class="form-group">
        <label for="standard_cost">Giá cơ bản</label>
        <input type="text" id="standard_cost" name="standard_cost" class="form-control" value="@ViewBag.Product.standard_cost" />
    </div>


    <div class="form-group">
        <label for="target_level">target_level</label>
        <input type="text" id="target_level" name="target_level" class="form-control" value="@ViewBag.Product.target_level" />
    </div>

    <div class="form-group">
        <label for="reorder_level">reorder_level</label>
        <input type="text" id="reorder_level" name="reorder_level" class="form-control" value="@ViewBag.Product.reorder_level" />
    </div>

    <div class="form-group">
        <label for="minimum_reorder_quantity">minimum_reorder_quantity</label>
        <input type="text" id="minimum_reorder_quantity" name="minimum_reorder_quantity" class="form-control" value="@ViewBag.Product.minimum_reorder_quantity" />
    </div>

    <div class="form-group">
        <label for="quantity_per_unit">quantity_per_unit</label>
        <input type="text" id="quantity_per_unit" name="quantity_per_unit" class="form-control" value="@ViewBag.Product.quantity_per_unit" />
    </div>

    <div class="form-group">
        <label for="discontinued">discontinued</label>
        <input type="text" id="discontinued" name="discontinued" class="form-control" value="@ViewBag.Product.discontinued" />
    </div>

    <div class="form-group">
        <label for="list_price">Danh mục</label>
        <input type="text" id="category" name="category" class="form-control" value="@ViewBag.Product.category" />
    </div>

    <div class="form-group">
        <label for="image">Hình đại diện sản phẩm</label>
        @if (String.IsNullOrEmpty(ViewBag.Products.image))
        {
            <img class="bd-placeholder-img card-img-top img-thumbnail" width="150px%" height="150px" src="~/Content/Images/no-photo.png" />
        }

        else
        {
            <img class="bd-placeholder-img card-img-top img-thumbnail" width="150px%" height="150px" src="~/UploadedFiles/ProductImages/
            @ViewBag.Products.image" />
        }
        <input type="hidden" name="image_oldFile" value="@ViewBag.Products.image" />
        <input type="file" id="image" name="image" />

    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-primary" type="submit" value="save" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
